@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 40px;
	line-height: 1;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('/src/videos/jumproup.mp4') no-repeat center
		center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 10px;
	opacity: 0.9;
}

.btn:hover {
	transform: scale(0.98);
}

#about {
	padding: 40px;
	text-align: center;
}

#contacto p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
	text-align: center;
}

#contacto h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}

.spotlight .button {
	background-color: rgb(7 94 84);
	box-shadow: inset 0 0 0 100px hsla(0, 0%, 100%, 0);
	min-width: 100%;
	font-size: 15px;
	transition: all 0.15s ease-out;
	line-height: 38px;
	padding: 0 20px;
	text-decoration: none !important;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
	white-space: nowrap;
	user-select: none;
	font-size: 14px;
	border: 1px solid #333;
	color: #fff;
	transition: all 0.15s ease-out;
}